name: EDis Server

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  #############
  # Compiling #
  #############
  compile-server:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Compile server
        run: bazel build //packages/server

  #################
  # Docker Builds #
  #################
  docker-server:
    runs-on: ubuntu-20.04
    if: github['ref'] == 'refs/heads/main'

    needs:
      - compile-server

    steps:
      - uses: actions/checkout@v2
      - name: Login to Packages Container registry
        uses: docker/login-action@v1.9.0
        with:
          registry: ghcr.io
          username: pacificocean-bot
          password: ${{ secrets.CR_PAT }}
      - name: Build Docker Image
        run: |
          bazel build //packages/server:docker
      - name: Public Latest Docker Image
        run: |
          bazel run //packages/server:push-server

  #############
  # Deploying #
  #############
  deploy-server:
    environment: production-server
    runs-on: ubuntu-20.04
    if: github['ref'] == 'refs/heads/main'

    needs:
      - docker-server

    steps:
      - uses: actions/checkout@v2
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Save DigitalOcean kubeconfig
        run: doctl kubernetes cluster kubeconfig save siberianmh-core
      - name: Rollout
        run: |
          kubectl rollout restart deploy/edis-server
