name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-js:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v2.5.0
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn install
      - name: Run lint
        run: yarn lint
